<div class="col-sm-6 col-md-4">
    <div class="aanbod-item">
        <!--<div class="aanbod-item-status">Te koop</div>-->
        <div class="aanbod-item-title">
            <div>Weverwijk 14 <br />1506 RZ Zaandam, 75 m<sup>2</sup></div>
        </div>
        <a href="#" class="aanbod-item-funda-link">Bekijk op Funda</a>
        <div class="aanbod-item-img">
            <div class="img-container img-ratio-1-1">
                <img src="/assets/img/loading.png" data-src="/assets/img/office.jpg" alt="" class="lazy">
            </div>
        </div>
    </div>
</div> 