<header class="header">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-12">
                <a href="/" class="header-logo"></a>
                <div class="header-nav-menu">
                    <i class="fa fa-bars"></i>
                </div>
                <div class="header-menu-btn">
                    <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                </div>
                <ul class="header-nav">
                    <li><span class="nav-about">Over ons</span></li>
                    <li><span class="nav-services">Diensten</span></li>
                    <li><span class="nav-offers">Aanbod</span></li>
                    <li><span class="nav-contact">Contact</span></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>