<section class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="h3 h3--spacer" data-sr="enter over 1s reset">Onze kracht<small>De NVM bedrijfsmakelaar met meer dan 25 jaar ervaring in het zakelijk vastgoed.</small></h3>
            </div>
            <div class="col-sm-4 text-center" data-sr="enter over .5s">
                <h4>Expertise en ervaring</h4>
                <p class="paragraph">Ruime ervaring gecombineerd met actuele kennis van zaken. Goed op de hoogte van marktontwikkelingen, juridische- en fiscale regelgeving, bouwkundige items en economische ontwikkelingen.</p>
            </div>
            <div class="col-sm-4 text-center" data-sr="wait .1s enter over .5s">
                <h4>Creatief en flexibel </h4>
                <p class="paragraph">Met een klein team grote resultaten bereiken. Wij kunnen snel en effectief reageren op vragen uit de markt. Wij denken mee, creëren kansen en komen met oplossingen.</p>
            </div>
            <div class="col-sm-4 text-center" data-sr="wait .2s enter over .5s">
                <h4>Betrouwbaar en betaalbaar</h4>
                <p class="paragraph">Betrokkenheid en persoonlijk contact met opdrachtgevers, aanbieders en zoekers. Eerlijke heldere adviezen en een optimale dienstverlening tegen concurrerende tarieven.</p>
            </div>
        </div>
    </div>
</section>