<section class="section section-about-us">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center" data-sr="enter over 1s">
                <h3 class="h3">Over ons<small>En klein team voor groot succes, flexibel, doelgericht en betrokken. Met intellect op het gebied van zakelijk vastgoed.</small></h3>
                <a href="#" class="button button--secondary">Lees verder</a>
            </div>
        </div>
    </div>
</section>