<div class="section section--lined">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offset-1">
                <div class="img-container img-ratio-4-3">
                    <img src="/assets/img/showcase.png" alt="">
                </div>
            </div>
            <div class="col-md-5 col-md-offset-0 col-sm-10 col-sm-offset-1">
                <h3 class="h3 h3--left">
                    Showcase
                    <small>Consultancy Zuidas Gemeente A’dam</small>
                </h3>
                <p class="paragraph">Gecertificeerde en beëdigde taxateurs (lid van NVM-BOG, ingeschreven in het vastgoedcert en TMI gekwalificeerd). De taxaties voldoen aan de hoogste (bank-) normen. Ook voor herbouwwaarde taxaties conform artikel 7:960 BW en waarde indicaties ter oriëntatie of voorbereiding op een aankoop of verkoopbeslissing.</p>
            </div>
        </div>
    </div>
</div>