<!-- Aanbod -->
<section class="section section--grey">
    <div class="container" data-sr="enter over 1s no reset">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="h3">Recent aanbod<small>Bekijk ons volledig aanbod op Funda.</small></h3>
            </div>
            <div class="col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
                {{> partial-aanbod-item }}
            </div>
            <div class="text-center">
                <a href="#" class="button button--secondary">Naar Funda.nl</a>
            </div>

        </div>
    </div>
</section>