<header class="header">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-12">
                <a href="" class="header-logo">logo</a>
        <ul class="header-nav">
            <li><a href="">Over ons</a></li>
            <li><a href="">Diensten</a></li>
            <li><a href="">Aanbod</a></li>
            <li><a href="">Contact</a></li>
        </ul>
            </div>
        </div>
    </div>
</header>