<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3 class="h3 h3--spacer" data-sr="enter over 1s">Diensten<small>We doen waar we goed in zijn. Met oog voor detail.</small></h3>
            </div>
            <div class="container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 col-sm-10 col-sm-offset-1">
            <div class="col-sm-6 col-md-4 services-item" data-sr="enter over .5s no reset">
                <i class="fa fa-home"></i>
                <h4 class="">Makelaardij</h4>
                <p class="paragraph">Kopen en huren, verkopen en verhuren, de match-makers voor 10 tot 100.000 m2. Wij weten waar de vraag vandaan komt en waar prospects te vinden zijn. Goede presentaties van het aanbod, adequaat reageren en zien waar de kansen liggen.</p>
            </div>
            <div class="col-sm-6 col-md-4 services-item" data-sr="wait .1s enter over .5s no reset">
                <i class="fa fa-search"></i>
                <h4 class="">Taxaties</h4>
                <p class="paragraph">Gecertificeerde en beëdigde taxateurs. De taxaties voldoen aan de hoogste (bank-) normen. Ook voor herbouwwaarde taxaties conform artikel 7:960 BW en waarde indicaties ter oriëntatie of voorbereiding op een aankoop of verkoopbeslissing.</p>
            </div>
            <div class="col-sm-6 col-md-4 services-item" data-sr="wait .2s enter over .5s no reset">
                <i class="fa fa-laptop"></i>
                <h4 class="">Consultancy</h4>
                <p class="paragraph">Ondersteuning bij complexe vastgoedzaken. Het opstellen en beoordelen van contracten, onderhandelingen voor huurprijsaanpassingen, herhuisvestingn en huisvestingsannalyse, begeleiden van (project-)ontwikkeling, deskundige bijstand bij fiscale zaken etc.</p>
            </div>
            <div class="col-sm-6 col-md-4 services-item" data-sr="wait .3s enter over .5s no reset">
                <i class="fa fa-legal"></i>
                <h4 class="">Onteigening</h4>
                <p class="paragraph">Indien grond, bedrijfsgebouw of huis moet wijken wegens overheidsplannen, zijn wij de deskundige om dit proces te begeleiden. Onteigening is een ingrijpende en complexe materie, dat vraagt om kennis en ervaring. Ook overheden worden door ons bijgestaan.</p>
            </div>
            <div class="col-sm-6 col-md-4 services-item" data-sr="wait .4s enter over .5s no reset">
                <i class="fa fa-building"></i>
                <h4 class="">Vastgoed management</h4>
                <p class="paragraph">Één pand of een hele vastgoed portefeuille, voor particuliere beleggers en kleinere instellingen beheren wij verhuurd vastgoed. Wij ontzorgen, streven naar continuïteit en gaan proactief met de huurders en het vastgoed om.</p>
            </div>
            <div class="col-sm-6 col-md-4 services-item" data-sr="wait .5s enter over .5s no reset">
                <i class="fa fa-calculator"></i>
                <h4 class="">Administratie VVE's</h4>
                <p class="paragraph">Bedrijfsverzamelgebouwen met een Vereniging Van Eigenaren moeten aan de wettelijke eisen voldoen. Wij nemen deze taken op ons. Bekijk hier de checklist voor VVE's.</p>
            </div>
        </div>
    </div>
    </div>
</section>