
<div class="quote quote--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Kortom een makelaar met verstand van zaken!
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container text-center">
        <div class="row">
            <div class="col-md-4 footer-block">
                <h4 class="h5"><i class="fa fa-phone"></i> Bel</h4>
                <p>075-6217722</p>
            </div>
            <div class="col-md-4 footer-block">
                <h4 class="h5"><i class="fa fa-map-marker"></i> Bezoek</h4>
                <p>
                    Hoogstraat 19c<br />
                    1541 KW Koog aan de Zaan<br />
                    <a href="#">Routebeschrijving</a>
                </p>
            </div>
            <div class="col-md-4 footer-block">
                <h4 class="h5"><i class="fa fa-envelope"></i> Email</h4>
                <p>
                    <a href="mailto:info@beudeker.nl">info@beudeker.nl</a>
                </p>
            </div>
        </div>
        <div class="row footer-social-media">
            <div class="col-lg-12">
                <ul class="inline-list footer-social-media-list">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#" target="_blank"><i class="fa fa-youtube-square"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row footer-copyright">
            <div class="col-lg-12">
                &copy; 2015 Beudeker Makelaars
            </div>
        </div>
    </div>
</footer>