<section class="quote quote--small">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                Kortom een makelaar met verstand van zaken!
            </div>
        </div>
    </div>
</section>