<div class="section section--grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="h3">Klanten<small>Een selectie van onze klanten</small></h3>
            </div>
        </div>
    </div>
</div>