<header class="header">
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-lg-12">
                <a href="" class="header-logo">logo</a>
                <ul class="header-nav">
                    <li><span class="nav-about">Over ons</span></li>
                    <li><span class="nav-services">Diensten</span></li>
                    <li><span class="nav-offers">Aanbod</span></li>
                    <li><span class="nav-contact">Contact</span></li>
                    <li><a href="blog.html">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
</header>