
.contact-form{
    background: #fff;
    padding: 15px;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.12);
    -moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.12);
    box-shadow:         0px 0px 5px 0px rgba(0, 0, 0, 0.12);

    & fieldset{
        border: none;
    }

    & legend{
        display: none;
    }
}

.contact-form-textfield{
    border: 0px;
    padding: 0px;
    display: block;
    color: $header-color;
    width: 100%;
    padding: 15px 0;
    font-size: 26px;
    font-weight: 300;
    background-color: transparent;
    border-bottom: 1px solid #cecece;

    &--error{
        color: red;
    }
}

.contact-form-textarea{
    border: 0px;
    padding: 0px;
    display: block;
    color: $header-color;
    padding: 15px 0;
    font-size: 26px;
    font-weight: 300;
    width: 100%;
    height: 200px;
    background-color: transparent;
    resize: none;
    margin-bottom: 15px;
    border-bottom: 1px solid #cecece;
}

.contact-form-error{
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    color: #999;

    &:before{
        content: "\f071";
        font-family: 'FontAwesome';
        display: inline-block;
        margin-right: 8px;
        color: $error-color;
    }
}