@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Roboto+Slab:400,300,700);
@import url(bootstrap.min.css);
html, body {
  height: 100%;
  position: relative;
  -webkit-font-smoothing: antialiased !important;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004); }

body {
  cursor: default;
  margin-top: 0px; }

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  outline: none; }

h1, h2, h3, h4, small, p, ul, li {
  margin: 0;
  padding: 0; }

[data-sr] {
  visibility: hidden; }

body {
  font: normal normal 400 17px/1.5 'Source Sans Pro', sans-serif; }

.link {
  text-decoration: none;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out; }
  .link:hover {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out; }

.h1-hero {
  color: #fff;
  text-transform: uppercase;
  display: inline-block;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  margin-bottom: 40px;
  /*text-shadow: 0px 0px 10px rgba(50,50,50,.5);*/ }
  .h1-hero:before {
    display: block;
    content: "";
    height: 3px;
    background-color: #fff;
    margin-bottom: 40px; }
  .h1-hero:after {
    display: block;
    content: "";
    height: 3px;
    background-color: #fff;
    margin-top: 40px; }

.h2-hero {
  color: #fff;
  font-size: 21px;
  font-weight: 400;
  width: 80%;
  margin: 0 auto;
  line-height: 1.3;
  padding-bottom: 100px;
  /*text-shadow: 0px 0px 10px rgba(50,50,50,.5);*/ }

.h3 {
  font-size: 50px;
  font-weight: 700;
  color: #333;
  display: block;
  padding-bottom: 30px;
  text-transform: uppercase;
  line-height: normal;
  text-align: center; }
  .h3--spacer {
    padding-bottom: 80px; }
  .h3 small {
    display: block;
    padding: 15px 0 0;
    font-size: 18px;
    line-height: 1.6;
    font-weight: 400;
    width: 80%;
    color: #333;
    margin: 0 auto;
    text-transform: none;
    font-weight: 400; }
    @media all and (max-width: 767px) {
      .h3 small {
        font-size: 16px;
        line-height: 1.3; } }
  .h3:after {
    display: block;
    content: "";
    height: 4px;
    border-top: 1px solid #e67e22;
    border-bottom: 1px solid #e67e22;
    max-width: 150px;
    margin: 15px auto 0; }
  @media all and (max-width: 767px) {
    .h3 {
      font-size: 30px; } }
  .h3--left {
    text-align: left; }
    .h3--left small {
      margin: 0; }
    .h3--left:after {
      margin-left: 0px; }

.h3-quote {
  color: #fff;
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 400; }
  .h3-quote:after {
    display: block;
    content: "";
    height: 4px;
    border-top: 1px solid #e67e22;
    border-bottom: 1px solid #e67e22;
    max-width: 150px;
    margin: 15px auto 0; }
  .h3-quote span {
    color: #e67e22; }
  @media all and (max-width: 767px) {
    .h3-quote {
      font-size: 30px; } }

h4 {
  font-size: 21px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 20px;
  display: block; }

.h5 {
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 10px;
  display: block; }

.paragraph {
  font-weight: 300;
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 15px; }

.inline-list li {
  display: inline-block;
  list-style-type: none; }

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  padding: 15px 0; }

.header-nav {
  float: right; }
  .header-nav li {
    list-style-type: none;
    float: left; }
  .header-nav li a {
    font-size: 17px;
    display: block;
    text-transform: none;
    font-weight: 400;
    padding: 10px 15px;
    color: #fff; }
    .header-nav li a:hover {
      text-decoration: none;
      border-color: #e67e22; }

.footer {
  background: #333333 url(http://themes.startbootstrap.com/vitality-v1.3.3/assets/img/bg-pricing.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 0 0 30px;
  color: rgba(255, 255, 255, 0.7); }
  .footer a {
    color: rgba(255, 255, 255, 0.7);
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
    .footer a:hover {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .2s ease;
      -moz-transition: all .2s ease;
      -o-transition: all .2s ease;
      transition: all .2s ease; }

.footer-block {
  margin: 75px 0; }
  .footer-block p {
    font-size: 22px;
    font-weight: 300; }

.footer-social-media {
  padding-bottom: 50px; }

.footer-social-media-list {
  font-size: 32px; }
  .footer-social-media-list li {
    padding: 0 5px; }

.footer-copyright {
  font-size: 14px; }

.button {
  display: inline-block;
  border: 1px solid #fff;
  color: #fff;
  font-weight: 700;
  font-size: 17px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 18px;
  text-decoration: none;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease; }
  .button:hover {
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }
  .button--primary:hover {
    background-color: #fff;
    color: #e67e22; }
  .button--secondary {
    border-color: #333;
    color: #333;
    background-color: transparent; }
    .button--secondary:hover {
      background-color: #e67e22;
      border-color: #e67e22;
      color: #fff; }

.contact-form fieldset {
  border: none; }
.contact-form legend {
  display: none; }

.contact-form-textfield {
  border: 0px;
  padding: 0px;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 20px;
  border-bottom: 1px solid #cecece; }

.contact-form-textarea {
  border: 0px;
  padding: 0px;
  display: block;
  padding: 15px 0;
  font-size: 20px;
  width: 100%;
  height: 200px;
  resize: none;
  margin-bottom: 15px;
  border-bottom: 1px solid #cecece; }

.contact-form-error {
  font-weight: 400;
  font-size: 16px;
  padding: 10px 0;
  color: #999; }
  .contact-form-error:before {
    content: "\f071";
    font-family: 'FontAwesome';
    display: inline-block;
    margin-right: 8px;
    color: #e67e22; }

.quote {
  text-align: center; }
  .quote--small {
    color: #fff;
    background-color: #e67e22;
    padding: 50px 0;
    font-size: 26px;
    font-weight: 300;
    line-height: normal; }
    @media all and (max-width: 767px) {
      .quote--small {
        font-size: 20px; } }
  .quote--big {
    color: #fff;
    background-color: #222; }
  .quote--graphic {
    padding: 300px 0;
    background: white url(http://themes.startbootstrap.com/vitality-v1.3.3/assets/img/bg-aside.jpg) no-repeat center center fixed;
    background-size: cover; }
    @media all and (max-width: 767px) {
      .quote--graphic {
        padding: 100px 0;
        background-attachment: scroll; } }

.sample {
  background-color: green;
  height: 10px;
  display: block;
  margin-bottom: 10px; }

.hero {
  height: 100%;
  width: 100%;
  display: table;
  background: #95a5a6 url() no-repeat center center fixed;
  background-size: cover;
  padding: 30px 0;
  position: relative; }

.hero-wrapper {
  display: table-cell;
  height: 100%;
  text-align: center;
  vertical-align: middle; }

.hero-arrow {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  overflow: hidden;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  position: absolute;
  bottom: -50px;
  z-index: 10;
  left: 0px;
  text-align: center;
  left: calc(50% - 50px); }
  .hero-arrow:before {
    content: "\f107";
    font-family: "Fontawesome";
    line-height: 100px;
    font-size: 70px; }

.section {
  padding: 120px 0; }
  @media all and (max-width: 767px) {
    .section {
      padding: 60px 0; } }

.section--grey {
  background: #f5f5f5; }

.services-item {
  margin-bottom: 40px; }
  .services-item i {
    margin: 0 auto;
    font-size: 70px;
    display: block;
    text-align: center;
    margin-bottom: 30px; }

.aanbod-item {
  position: relative;
  margin-bottom: 30px;
  overflow: hidden;
  /*-webkit-box-shadow: 0px 0px 5px 0px rgba(50,50,50,.2);
  box-shadow: 0px 0px 5px 0px rgba(50,50,50,.2);*/ }

.aanbod-item-status {
  position: absolute;
  top: 0px;
  z-index: 10;
  background-color: #e67e22;
  color: #fff;
  padding: 15px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600; }

.aanbod-item-title {
  background-color: rgba(22, 101, 172, 0.9);
  position: absolute;
  bottom: 0px;
  z-index: 10;
  width: 100%;
  padding: 15px;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  color: #fff !important; }

.aanbod-item-funda-link {
  color: #fff;
  font-size: 13px;
  position: absolute;
  bottom: 15px;
  left: 15px;
  right: 15px;
  width: calc(100% - 30px);
  padding: 15px 10px;
  border: 1px solid #fff;
  text-align: center;
  z-index: 11;
  text-decoration: none;
  font-weight: 700;
  margin-top: 15px;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  text-transform: uppercase; }
  .aanbod-item-funda-link:after {
    /*
    content: "\f105";
    font-family: 'Fontawesome';
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 16px;
    padding-left: 5px;
    position: relative;
    */ }
  .aanbod-item-funda-link:hover {
    color: #1665ac;
    background-color: #fff;
    text-decoration: none;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease; }

.aanbod-item:hover .aanbod-item-funda-link {
  opacity: 1;
  -webkit-transition: opacity .2s ease .2s;
  -moz-transition: opacity .2s ease .2s;
  -o-transition: opacity .2s ease .2s;
  transition: opacity .2s ease .2s; }

.aanbod-item:hover .aanbod-item-title {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  padding-bottom: 80px;
  background-color: #1665ac; }

.aanbod-item-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  /*
  -ms-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);*/ }

.aanbod-item:hover .aanbod-item-img img {
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  -ms-transform: translateY(-20px);
  -webkit-transform: translateY(-20px);
  transform: translateY(-20px);
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  /* Firefox 10+, Firefox on Android */
  filter: gray;
  /* IE6-9 */
  -webkit-filter: grayscale(100%);
  /* Chrome 19+, Safari 6+, Safari 6+ iOS */ }

.contact-information {
  padding: 30px 0; }
  .contact-information i {
    font-size: 140px;
    color: #e67e22;
    margin-bottom: 30px; }
  .contact-information strong {
    text-transform: uppercase;
    display: block;
    /*color: $secondary-color;*/
    font-size: 29px;
    padding-bottom: 10px; }
  .contact-information p {
    font-size: 21px;
    font-weight: 300;
    padding-bottom: 10px;
    line-height: 1.6; }

.lazy {
  opacity: 0;
  transition: opacity .2s ease-in; }

.img-container {
  height: 0px;
  overflow: hidden;
  position: relative; }

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto; }

.img-ratio-1-1 {
  padding-bottom: 100%; }

.img-ratio-4-3 {
  padding-bottom: 75%; }

.img-ratio-3-4 {
  padding-bottom: 133.333333333333%; }

.blaat {
  color: blue; }
