$primary-color: #FF7200;

$secondary-color: #0192b5;
$secondary-hover-color: #00a5d9;

$tritary-color: #0192b5;

$copy-color: red;
$link-color: red;

$text-color: #7a7a7a;
$header-color: #333;
$header-small-color: #7a7a7a;

$error-color: #e67e22;